#chatwindow

#sidebar
  h2 Room name
  h3 Currently online
  ul
    li blaah

#msginputdiv.placeholderentry
  form(id='msginputform')
    input(type='text', id='msginput', value='Type your message here')

script(src="/socket.io/socket.io.js")
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
script(src="/js/chat.js")
